<html lang="ru">
  {{> 'head/head' title="Чат | Диалоги"}}

  <body>
    <div class="app">
      <main class="app-container">
        <div class="chat-layout"> 
          {{> "navigation/navigation"}}

          {{{block "content"}}}
        </div>
      </main>
    </div>
  </body>
</html>