<div class="navigation">
  <div class="navigation__avatar">
    <span class="material-symbols-outlined navigation__avatar-icon">
      account_circle
    </span>
  </div>

  <div class="navigation__items">
    <div class="navigation__item navigation__item--selected">
      <div class="navigation__item-bar"></div>
      <span class="material-symbols-outlined navigation__item-icon">
        sms
      </span>
    </div>
    <div class="navigation__item">
      <div class="navigation__item-bar"></div>
      <span class="material-symbols-outlined navigation__item-icon">
        settings
      </span>
    </div>
  </div>
</div>