<nav class="navigation">
  {{> 'avatar/avatar' class="navigation__avatar" }}
 
  <div class="navigation__items">
    <a href="./chat.hbs" class="navigation__item navigation__item--selected">
      <div class="navigation__item-bar"></div>
      <span class="material-symbols-outlined navigation__item-icon">
        sms
      </span>
    </a>
    <a href="./settings.hbs" class="navigation__item">
      <div class="navigation__item-bar"></div>
      <span class="material-symbols-outlined navigation__item-icon">
        settings
      </span>
    </a>
  </div>
</nav>