{{#extend "settings-layout/settings-layout" pageDescription="Страница редактирования аватара авторизованного пользователя"}}
  {{#content "content"}}
    <div>
        <div>
            <h2>Изменить аватар</h2>
            <a href="./settings.hbs">Назад</a>
        </div>
        

        {{#> card/card className="auth-layout___card" }}
          <form action="">
            {{> 'input/input' type="file" label="Выберите файл" name="avatar" error="" }}
            {{> 'button/button' text="Сохранить" type="submit" }}
          </form>
        {{/card/card}}
    </div>
  {{/content}}
{{/extend}}
