{{#extend "settings-layout/settings-layout"}}
  {{#content "content"}}
    <div>
        <div>
            <h2>Изменить данные</h2>
            <a href="./settings.hbs">Назад</a>
        </div>
        

        {{#> card/card className="auth-layout___card" }}
            {{> 'input/input' type="text" label="E-mail" name="email" error="" }}
            {{> 'input/input' type="text" label="Логин" name="login" error="" }}
            {{> 'input/input' type="text" label="Имя" name="first_name" error="" }}
            {{> 'input/input' type="text" label="Фамилия" name="second_name" error="" }}
            {{> 'input/input' type="text" label="Имя в чате" name="display_name" error="" }}
            {{> 'input/input' type="text" label="Телефон" name="phone" error="" }}

            {{> 'button/button' text="Сохранить" }}
        {{/card/card}}
    </div>
  {{/content}}
{{/extend}}