{{#extend "settings-layout/settings-layout"}}
  {{#content "content"}}
    <div>
        <div>
            <h2>Изменить пароль</h2>
            <a href="./settings.hbs">Назад</a>
        </div>
        

        {{#> card/card className="auth-layout___card" }}
            {{> 'input/input' type="password" label="Старый пароль" name="oldPassword" error="" }}
            {{> 'input/input' type="password" label="Новый пароль" name="newPassword" error="" }}
            {{> 'input/input' type="password" label="Повторите новый пароль" name="repeatNewPassword" error="" }}

            {{> 'button/button' text="Сохранить" }}
        {{/card/card}}
    </div>
  {{/content}}
{{/extend}}