{{!< main-layout }}

<div>
  <p>pages</p>
  <a href="./sign-in.hbs">sign-in page</a><br />
  <a href="./sign-up.hbs">sign-up page</a><br />
  <a href="./chat.hbs">chat page</a><br />
  <a href="./error-500.hbs">error 500</a><br />
  <a href="./error-404.hbs">error 404</a><br />
  <a href="./settings.hbs">viewer's settings</a><br />
  <a href="./edit-data.hbs">edit viewer's data</a><br />
  <a href="./edit-avatar.hbs">edit viewer's avatar</a><br />
  <a href="./edit-password.hbs">edit viewer's password</a><br />
</div>