<!doctype html>
<html lang="ru">
  {{> 'head/head' title="Чат | Все страницы" pageDescription=pageDescription }}

  <body>
    <div class="app">
      <main class="app-container">
        {{{block "body"}}}
      </main>
    </div>
  </body>
</html>
