/* Blocks */
.viewer-data {
  list-style: none;
}

/* Elements */
.viewer-data__item {
  height: 48px;
  border-bottom: var(--divider);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  min-width: 480px;
}
.viewer-data__label {
  color: var(--on-card-bg-color);
}
