<ul class="viewer-data">
    {{#each this}}
      <li class="viewer-data__item">
        <p class="viewer-data__label">{{this.label}}</p>
        <p class="viewer-data__value">{{this.value}}</ps>
      </li>
    {{/each}}
</ul>
