<div class="avatar-settings">
  <span class="material-symbols-outlined avatar-settings__icon">
    account_circle
  </span>

  <div class="avatar-settings__overlay">
    <p>Поменять аватар</p>
  </div>
</div>